# Assignment 3 Q3

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
#load the dataset
data=pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
# Make dimensional array
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [4]:
# Chi2 contengency independence test

In [5]:
chi2_contingency(obs)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [6]:
p_value=0.6603

In [7]:
# Compare p_value with Î± = 0.05

In [8]:
if p_value< 0.05:
    print('Reject the Null Hypothesis,Dependence of categorical variables i.e. male-female buyer rations are NOT similar across regions')
else:
    print('Fail to Reject The Null Hypothesis,Independence of categorical variables i.e male-female buyer rations are similar across regions')

Fail to Reject The Null Hypothesis,Independence of categorical variables i.e male-female buyer rations are similar across regions